.ant-progress-text {
    display: inline-block;
    width: 2em;
    margin-left: 8px;
    color: #f2f2f2;
    font-size: 1em;
    line-height: 1;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    word-break: normal;
}